#Header {
	width: 90%;
	margin: 0 auto;
}

body::after{
	content: "ET01";
	display: block;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0.5em;
	color:#444;
}
/*box*/
#box_border{
	padding:2px;
	background-color: #0ff;
	clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));
}
#box {
	padding:2px;
	background-color: #022;
	clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));
	text-align: center;
}
/*
#bottonbox {
	width: 175px;
	margin: 0 auto;
	color: #fff;
	background-color: #044;
	transform: skew(-20deg);
	border: 3px solid #0ff;
	border-radius: 6px;
	text-align: center;
	font-size: 25px;
	font-family: Microsoft JhengHei;
}*/
/*prebox*/
#prebox_border{
	padding:2px;
	background-color: #fff;
	clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));
}

#prebox {
	padding: 1em;
	background-color: #111;
	clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));
}
/*notebox*/
#notebox_border{
	padding: 2em;
	background-color: #888;
	clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));

}
#notebox {
	padding: 1em;
	background-color: #222;
	clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));
	width: 75%;
}



#Ttext {/*title text*/
	color: #fff;
	font-size: 40px;
	font-family: Microsoft JhengHei;
}

#text {/*內文text*/
	color: #fff;
	font-size: 25px;
	font-family: Microsoft JhengHei;
}

#main {
	width: 65%;
	margin: 0 auto;
	color: #fff;
}

#center {
	margin: 0 auto;
}

body {
	background-color: #000000;
	font-family: Microsoft JhengHei;
}

a:link {
	text-decoration: none;
	color: #fff;
}

a:visited {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

a:active {
	text-decoration: none;
	color: #fff;
}

#link {
	text-decoration: underline;
	color: #0ff;
}

iframe {
	position: absolute;
	background: transparent;
}

#center_across {
	display: flex;
	justify-tracks: center;
	flex-wrap: wrap;
}

button {
	background: none;
	border: none;
}