@media only screen and (max-width:600px){/*MO*/
	:root{
		--button_sz:50%;
		--tit_min_sz: 50%;
		--tit_sz: 80%;
	}
	.button_sz{width: var(--button_sz);}
	.tit_min_sz{width: var(--tit_min_sz);}
	.tit_sz{width: var(--tit_sz);}
	#PC{display: none;}
	#MO{display: flex;}
}
@media only screen and (min-width:600px){/*PC*/
	:root{
		--button_sz:200px;
		--tit_min_sz: 60px;
		--tit_sz: 80%;
		--tit_med_sz:calc(80% - var(--tit_min_sz));
	}
	.button_sz{width: var(--button_sz);}
	.tit_min_sz{width: var(--tit_min_sz);}
	.tit_sz{width: var(--tit_sz);}
	.tit_med_sz{width: var(--tit_med_sz);}
	#PC{display: flex;}
	#MO{display: none;}
	/*
	.button_sz{width: 150px;}
	.tit_min_sz{width: 60px;}
	.tit_sz{width: calc(80% - 30px);}*/
}
