/*box*/
:root{
	--v_box_color: #00f;
	--box2_color:#00f;
	--shadow_l: 15px;
	--shadow_padding_add:1px;
}

.v_box_padding{
	padding: calc(var(--shadow_l) + var(--shadow_padding_add));
}
.v_box_border {
	border-style: solid;
  border-width: 4px;
	border-color: var(--v_box_color);
	
	background-color:#0000;
	/*clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));*/
	box-sizing: border-box;
	border-radius:10px;

	box-shadow: 0 0 var(--shadow_l) 5px var(--v_box_color);
	width:auto;
}

.v_box {
	background-color: #0008;
	border-radius:6px;
	/*clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));*/
	/*text-align: center;*/
	padding: calc(var(--shadow_l) + var(--shadow_padding_add));
	box-shadow: inset 0em 0em var(--shadow_l) 5px var(--v_box_color);
	color: #fff;
	text-align: center;
}