/*填滿*/
.wfull{
	width: 100%;
}


.text_center{/*文字至中*/
	text-align: center;
}


/*初始化flex*/
.flex{
	display: flex;
}


/*物件水平排版*/
.left{/*元素靠左(預設)*/
	justify-content: flex-start;
}
.center{/*元素置中*/
	justify-content: center;
}
.right{/*元素靠右*/
	justify-content: flex-end;
}

.wrap{/*自動換行*/
	flex-wrap: wrap;
}


/*物件排列*/
.row{/*橫向排版(預設)*/
	flex-direction: row;
}
.column{/*垂直排版*/
	flex-direction: column
}
.row-reverse{/*反橫向排版*/
	flex-direction: row-reverse;
}
.column-reverse{/*反直向排版*/
	flex-direction: column-reverse;
}


/*文字樣式*/
.t_overline{/*文字上線*/
	text-decoration:overline;
}
.t_underline{/*底線*/
	text-decoration:underline;
}
.t_delline{/*刪除線*/
	text-decoration:line-through;
}
.t_fat{/*粗體*/
	font-weight:bold;
}
.t_move{/*斜體*/
	font-style:italic;
}