/*基礎設定*/
:root{
	/*顏色*/
	--box_color:#5ff;/*陰影(光暈)顏色*/
	--border_color:#aff;/*邊框顏色，邊框顏色調得比光暈顏色量，可增加整體亮度感*/
	--box_background_color:#5ff1;/*背景色*/
	--box_color_2:#f00;/*指標指到時，變成的顏色*/
	--border_color_2:#f55;/*邊框顏色，將此亮度調高可以讓光暈效果更強*/
	--box_background_color_2:#f003;/*指標指到時，變成的背景色*/
	/*尺寸、大小*/
	--shadow_len:20px;/*模糊擴散等級*/
	--margin_size:5px;/*向外留邊*/
	--border_width: 2px;/*邊框大小*/
	--padding_size: 15px;/*向內留邊*/
	--radius:10px;/*圓角大小*/
	--after_color:#fff8;/*尾端文字顏色*/
	--h1_size: 40px;/*標題文字大小*/
	color: #fff;/*文字顏色*/
	--bg_color:#000;/*被景色*/
	--button_width:100px;/*按鈕大小*/
	/*文字大小、字體*/
	--h1_fontsize: 40px;
	font-family: 'font-hun',"Microsoft JhengHei";
}
.PCIC{
	--box_color:#55f;
	--border_color:#aaf;
	--box_background_color:#55f1;
	--box_color_2:#f5f;
	--border_color_2:#faf;
	--box_background_color_2:#f5f1;
}





body{
	background: var(--bg_color);
}
button{
	background-color: #000;
	border: none;
	color: #fff;
}
.box{
	box-shadow: 0 0 var(--shadow_len) 0px var(--box_color), inset 0 0 var(--shadow_len) 0 var(--box_color);
	margin: calc(var(--margin_size));
	border-width: var(--border_width);
	border-style: solid;
	border-color: var(--border_color);
	padding: calc(var(--padding_size));
	border-radius:var(--radius);
	background-color: var(--box_background_color);
	transition:all 0.25s;
}

.box_botton::after{
	content: '';
	display: flex;
	/* clip-path: polygon(0 0,0 100%,100% 100%,100% 0); */
	box-shadow: 0 0 var(--shadow_len) calc(var(--border_width)*2) var(--box_color);
	height: 1px;
	width: 100%;
	background-color: var(--border_color);
	transition:all 0.25s;
	margin-bottom: var(--shadow_len);
}
.button{
	width: 200px;
}
.h1{
	font-size: 40px;
}
.h2{
	font-size: 25px;
}
a{
	color: var(--link_color);
}
hr{
	box-shadow: 0 0 var(--shadow_len) var(--border_width) var(--box_color);
	border-color: var(--border_color);
}

/*字體設定*/
@font-face {
	font-family: 'font-hun';
	src:
	url("/TEMP/font/hun/hun.woff2") format("woff"),
	url("/TEMP/font/hun/hun.woff") format("woff"),
	url("/TEMP/font/hun/hun.eot") format("embedded-opentype"),
	url("/TEMP/font/hun/hun.ttf")format("truetype");
}
.hun{
	font-family: 'font-hun';
}
.MSN{
	font-family: 'Microsoft JhengHei UI';
}

body::after{
	content:"" ;
	bottom: 5px;
	color: var(--after_color);
	text-align: center;
	display: flex;
	width: 100%;
	justify-content: center;
}
a{
	text-decoration: none;
}
.anime:hover{/*啟動動畫*/
	--box_color:var(--box_color_2);
	--box_background_color:var(--box_background_color_2);
	--border_color:var(--border_color_2);
}