/*顏色設定檔_淺色*/

:root{
  /*顏色*/
  --box_color:#088;/*陰影(光暈)顏色*/
  --border_color:#088;/*邊框顏色，邊框顏色調得比光暈顏色量，可增加整體亮度感*/
  --box_background_color:#0881;/*背景色*/
  --box_color_2:#800;/*指標指到時，變成的顏色*/
  --border_color_2:#800;/*邊框顏色，將此亮度調高可以讓光暈效果更強*/
  --box_background_color_2:#8003;/*指標指到時，變成的背景色*/
  --after_color:#0008;/*尾端文字顏色*/
	--txt_color: #000;/*文字色*/
  --bg_color:#fff;/*被景色*/
}
.PCIC{
  --box_color:#008;
  --border_color:#008;
  --box_background_color:#0081;
  --box_color_2:#808;
  --border_color_2:#808;
  --box_background_color_2:#8081;
}