:root{
	--box_color:#5ff;
	--box_color_2:#f55;
	--shadow_len:20px;/*模糊擴散等級*/
	--margin_size:0px;/*向外留邊*/
	--border_width: 2px;/*邊框大小*/
	--padding_size: 15px;/*向內留邊*/
	--radius:10px;/*圓角大小*/
	--after_color:#fff8;/*尾端文字顏色*/
	color: #fff;/*文字顏色*/
	--h1_fontsize: 40px;/*標題文字大小*/
}

.box{
	box-shadow: 0 0 var(--shadow_len) 0px var(--box_color), inset 0 0 var(--shadow_len) 0 var(--box_color);
	margin: calc(var(--margin_size));
	border-width: var(--border_width);
	border-style: solid;
	border-color: var(--box_color);
	padding: calc(var(--padding_size));
	border-radius:var(--radius);
}
body{
	background: black;
}
body::after{
	content: "by ET01 var 3.0.0 licenses"" "url('https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png');
	bottom: 5px;
	color: var(--after_color);
	text-align: center;
	display: flex;
	width: 100%;
	justify-content: center;
}
a{
	text-decoration: none;
}