#Header {
	width: 90%;
	margin: 0 auto;
}

body::after {
	content: "ET01";
	display: block;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0.5em;
	color: #fff8;
}

/*box*/
#box_border {
	border-style: solid;
  border-width: 4px;
	border-color: #0ff;
	
	background-color:#0000;
	/*clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));*/
	box-sizing: border-box;
	border-radius:10px;

	box-shadow: 0 0 15px 5px #0ff;
}

#box {
	background-color: #0008;
	border-radius:6px;
	/*clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));*/
	/*text-align: center;*/
	padding: 15px;
	box-shadow: inset 0em 0em 15px 5px #0ff;
	color: #fff;
}
/*box2*/
#box2_border {
	border-style: solid;
  border-width: 4px;
	border-color: #888;
	
	background-color:#0000;
	/*clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));*/
	box-sizing: border-box;
	border-radius:10px;

	box-shadow: 0 0 15px 5px #888;
}

#box2 {
	background-color: #0008;
	border-radius:6px;
	/*clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));*/
	/*text-align: center;*/
	padding: 15px;
	box-shadow: inset 0em 0em 15px 5px #888;
	color: #fff;
}
/*
#bottonbox {
	width: 175px;
	margin: 0 auto;
	color: #fff;
	background-color: #044;
	transform: skew(-20deg);
	border: 3px solid #0ff;
	border-radius: 6px;
	text-align: center;
	font-size: 25px;
	font-family: Microsoft JhengHei;
}*/
/*prebox*/
#prebox_border {
	border-style: solid;
  border-width: 4px;
	border-color: #fff;
	/*clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));*/
	box-sizing: border-box;
	border-radius:10px;

	box-shadow: 0 0 15px 5px #fff;
}

#prebox {
	background-color: #0008;
	border-radius:6px;
	/*clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));*/
	/*text-align: center;*/
	padding: 15px;
	box-shadow: inset 0em 0em 15px 5px #fff;
	color: #fff;
}

/*notebox*/
#notebox_border {
	padding: 2em;
	background-color: #888;
	/*clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));*/
	clip-path: polygon(0 1em, 1em 0, 100% 0, 100% calc(100% - 1em), calc(100% - 1em) 100%, 0 100%);
	box-sizing: border-box;

}

#notebox {
	padding: 1em;
	background-color: #000D;
	/*clip-path: polygon(0 0, calc(100% - 1em) 0, 100% 1em, 100% 100%, 1em 100%, 0 calc(100% - 1em));*/
	clip-path: polygon(0 1em, 1em 0, 100% 0, 100% calc(100% - 1em), calc(100% - 1em) 100%, 0 100%);
	width: 75%;
}

/*font-face*/
@font-face {
	font-family: 'font-hun';
	src:
	url("/font/hun/hun.woff2") format("woff"),
	url("/font/hun/hun.woff") format("woff"),
	url("/font/hun/hun.eot") format("embedded-opentype"),
	url("/font/hun/hun.ttf")format("truetype");
}

#Ttext {
	/*title text*/
	color: #fff;
	font-size: 40px;
	font-family: "Microsoft JhengHei";
}

#text {
	/*內文text*/
	color: #fff;
	font-size: 25px;
	font-family: "Microsoft JhengHei";
}

#main {
	width: 75%;
	margin: 0 auto;
	color: #fff;
}

#center {
	margin: 0 auto;
}

body {
	background-color: #000000;
	font-family: "Microsoft JhengHei";
}

a:link {
	text-decoration: none;
	color: #fff;
}

a:visited {
	text-decoration: none;
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #fff;
}

a:active {
	text-decoration: none;
	color: #fff;
}

#link {
	text-decoration: underline;
	color: #0ff;
}

iframe {
	position: absolute;
	background: transparent;
}

#center_across {
	display: flex;
	/*justify-tracks: center;*/
	flex-wrap: wrap;
}

button {
	background: none;
	border: none;
}

/*文字相關*/
#a_del_line {
	text-decoration: line-through;
}

.x_center {/*水平置中*/
	justify-content: center;
}

.y_center {/*垂直置中*/
	align-content: center;
}