.cf_newbie{/*~1200*/
    color: gray;
}
.cf_pupil{/*1200~1400*/
    color: green;
}
.cf_specialist{/*1400~1600*/
    color: #03A89E;
}
.cf_expert{/*1600~1900*/
    color: blue;
}
.cf_candidate_master{/*1900~2100*/
    color: #a0a;
}
.cf_master{/*2100~2300*/
    color: #FF8C00;
}
.cf_international_master{/*2300~2400*/
    color: #FF8C00;
}
.cf_grandmaster{/*2400~2600*/
    color: red;
}
.cf_international_grandmaster{/*2600~3000*/
    color: red;
}
.cf_legendary_grandmaster{/*3000~*/
    color: red;
}