/*排版樣式表*/

/*填滿*/
.wfull{
	width: 100%;
}

.text_center{/*文字至中*/
	text-align: center;
}

.text_center{/*文字至中*/
	text-align: center;
}


/*初始化flex*/
.flex{
	display: flex;
}


/*物件水平排版*/
.left{/*元素靠左(預設)*/
	justify-content: flex-start;
}
.center{/*元素置中*/
	justify-content: center;
}
.right{/*元素靠右*/
	justify-content: flex-end;
}
.sparound{/*元素平均分攤，周圍留有固定寬度(邊邊框度=中間/2)*/
	justify-content: space-around;
}
.spsame{/*元素平均分攤，空格等大*/
	justify-content: space-evenly;
}

/*物件垂直排版*/
.cleft{/*元素靠上(預設)*/
	align-content: flex-start;
}
.ccenter{/*元素置中*/
	align-content: center;
}
.cright{/*元素靠下*/
	align-content: flex-end;
}
.cfull{/*填滿*/
	align-content: stretch;
}

/*大小不一樣大的元素對其*/
.ileft{/*元素向上對其(預設)*/
	align-items: flex-start;
}
.icenter{/*元素垂直置中*/
	align-items: center;
}
.iright{/*元素向下對其(預設)*/
	align-items: flex-end;
}
.isame{/*拉成一樣大*/
	align-items: stretch;
}

.wrap{/*自動換行*/
	flex-wrap: wrap;
}


/*物件排列*/
.row{/*橫向排版(預設)*/
	flex-direction: row;
}
.column{/*垂直排版*/
	flex-direction: column
}
.row-reverse{/*反橫向排版*/
	flex-direction: row-reverse;
}
.column-reverse{/*反直向排版*/
	flex-direction: column-reverse;
}


/*文字樣式*/
.t_overline{/*文字上線*/
	text-decoration:overline;
}
.t_underline{/*底線*/
	text-decoration:underline;
}
.t_delline{/*刪除線*/
	text-decoration:line-through;
}
.t_fat{/*粗體*/
	font-weight:bold;
}
.t_move{/*斜體*/
	font-style:italic;
}